<form action="https://games.us21.list-manage.com/subscribe/post?u=96a7b4ac75146f4c8c184876d&amp;id=27b4fa9cb5&amp;f_id=006bafe1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank">
  <div class="mc-field-group">
      <input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on">
      <input type="submit" value="Subscribe to our newsletter" name="subscribe" class="heart">
  </div>
</form>

<style>
  .wj-contact-form input {
      vertical-align: middle;
      margin-top: 0.25em;
      margin-bottom: 0.5em;
      padding: 0.75em;
      font-family: Helvetica,Arial,sans-serif,-apple-system;
      border:1px solid #444;
      outline-color: #e5261f;
      border-radius: 3px;
      transition: box-shadow .2s ease;
  }
  
  .wj-contact-form input[type="submit"] {
      background-color: #e5261f;
      border: 1px solid #e5261f;;
      color: #eee;
  }
</style> 