---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% include newsletter.html %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}"
          class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
          src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>


<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pb-md-10">
    <h1 class="title">The world of Sahara Sands</h1>
    <div style="display: flex; justify-content: center;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1V7n_h6EzoI?si=u9kdvloW084brLGa"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
</div>


<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <h1 class="title">Card Example</h1>
    <div class="row justify-content-start content">
      <p>
        <img class="intro-image" src="/images/card_explaination-min.png" alt="Accounting Services">
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ " cards" | relative_url }}">View More Cards</a>
      </div>
    </div>
  </div>
</div>


{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h1 class="title">Experience a Rewarding Game</h1>
    <div class="row justify-content-center">
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}"
              width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <h1 class="title">Project Roadmap</h1>
    <div class="content">
      <p>
        <img class="intro-image" src="/images/timeline.png" alt="Accounting Services">
      </p>
    </div>
  </div>
</div>